<table class="table table-striped">
    <thead>
        <tr>
                <th>Id</th>
                <th>Title</th>
                <th>News</th>   
                <th>Date</th>         
        </tr>
    </thead>
    <% for(var i=0;i<news.length;i++){%>
        <tr>
            <td><%= news[i].id_news%></td>
            <td><%= news[i].title%></td>
            <td><%= news[i].news%></td>
            <td><%= news[i].data_created%></td>
        </tr>
    <%}%>
</table>